@import "tailwindcss";

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("/assets/fonts/CabinetGrotesk-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@theme {
  --font-cabinet: "Cabinet Grotesk", sans-serif;
  --font-urbanist: "Urbanist", sans-serif;
  --color-primary-red: #CD3234;
  --color-text-dark: #161616;
  --color-text-muted: #5E5E5E;
  --color-accent-olive: #70712C;
  --color-bg-cream: #F3EDE3;
}

* {
  cursor: none !important;
}